Analytika/bin/
Analytika/obj/
Analytika/analytika.db
Analytika/publish/
Analytika/wwwroot/portal-downloads/
Analytika/wwwroot/reports/
.DS_Store
*.user
Analytika/analytika.db.gz
Analytika/analytika.db-shm
Analytika/analytika.db-wal
